<div>
    <span id="detailsTitle">Details</span>
    <strong>UUID: </strong><span style="color: darkorange" data-bind="text: uuid"/><br/>
    <ko opts="if: name ">
    <strong>Name: </strong><span style="color: darkorange" data-bind="text: name"/><br/>
    </ko>
    <strong>Type: </strong><span style="color: darkorange" data-bind="text: devicetype"/><br/>
    <ko opts="if: room ">
    <strong>Room: </strong><span style="color: darkorange" data-bind="text: room"/><br/>
    </ko>
    <strong>Lastseen: </strong><span style="color: darkorange" data-bind="text: timeStamp"/><br/>
    <br/>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-twitter">Twitter</a></li>
            <li><a href="#tabs-gtalk">GTalk</a></li>
            <li><a href="#tabs-sms">SMS</a></li>
            <li><a href="#tabs-mail">Mail</a></li>
            <li><a href="#tabs-push">Push</a></li>
        </ul>
        <div id="tabs-twitter">
            <div><div style="float:left; margin-right:10px; margin-top:10px;"><i style="font-size:xx-large" class="icon-twitter"></i></div><div><h4 data-translateable="true">Twitter configuration</h4></div></div>
            <span>Agocontrol needs to be authorized to post alerts on your Twitter account.</span>
            <hr/>
            <ko opts="if: twitterStatus()"> 
                <span style="color:#00CC00;">Twitter is configured</span>
            </ko>
            <ko opts="ifnot: twitterStatus()"> 
                <span style="color:#CC0000;">Twitter is not configured</span>
            </ko>
            <br/>
            <span>Follow instructions above to authorize this access:</span>
            <br/>
            <form>
               <ol>
                    <li>Click on button to generate an authorization url <button data-translateable="false" data-bind="click: twitterUrl">Generate</button></li>
                    <li>Then click on generated link: <span class="twitterUrl" name="twitterUrl" style="color: darkorange"/></li>
                    <li>Authorize access on Twitter</li>
                    <li>Type given access code here: <input class="twitterAccessCode" name="twitterAccessCode" placeholder="Twitter code"/></li>
                    <li>Finally click on button to save access code <button data-translateable="true" data-bind="click: twitterAccessCode">Save</button></li>
                </ol>
            </form>
            <hr/>
            <span>To send test tweet on your account, click on button: </span><button data-translateable="true" data-bind="click: twitterTest">Test</button>
        </div>
        <div id="tabs-gtalk">
            <div><div style="float:left; margin-right:10px; margin-top:10px;"><i style="font-size:xx-large" class="icon-gplus"></i></div><div><h4 data-translateable="true">Google Talk configuration</h4></div></div>
            <span>Agocontrol needs your Google credentials to connect GTalk and send alerts.</span>
            <hr/>
            <ko opts="if: gtalkStatus()"> 
                <span style="color:#00CC00;">GTalk is configured</span>
            </ko>
            <ko opts="ifnot: gtalkStatus()"> 
                <span style="color:#CC0000;">GTalk is not configured</span>
            </ko>
            <br/>
            <span>If you are using 2-Step verification, generate password <a href="https://www.google.com/settings/security" target="_blank">clicking here</a></span>
            <br/>
            <span>Otherwise use your usual Google credentials:</span>
            <form>
                <ul>
                <li><span>Username: </span><input data-bind="value:gtalkUsername" placeholder="Google username"/></li>
                <li><span>Password: </span><input type="password" data-bind="value:gtalkPassword" placeholder="Google password"/>
                <button data-translateable="true" data-bind="click: gtalkConfig">Save</button></li>
                </ul>
            </form>
            <hr/>
            <span>To send you a test message on GTalk, click on button: </span><button data-translateable="true" data-bind="click: gtalkTest">Test</button>
        </div>
        <div id="tabs-sms">
            <div><div style="float:left; margin-right:10px; margin-top:10px;"><i style="font-size:xx-large" class="icon-comment"></i></div><div><h4 data-translateable="true">SMS configuration</h4></div></div>
            <span>Agocontrol uses <a href="https://www.12voip.com/" target="_blank">12voip</a> to send SMS alerts.</span>
            <hr/>
            <ko opts="if: smsStatus()"> 
                <span style="color:#00CC00;">SMS is configured</span>
            </ko>
            <ko opts="ifnot: smsStatus()"> 
                <span style="color:#CC0000;">SMS is not yet configured</span>
            </ko>
            <br/>
            <span>You need to create an account and add credits to send SMS (<a href="https://www.12voip.com/sms_rates" target="_blank">click here to view SMS rates</a>)</span>
            <br/>
            <span>12voip credentials:</span>
            <form>
                <ul>
                <li><span>Username: </span><input data-bind="value:twelvevoipUsername" placeholder="12voip username"/></li>
                <li><span>Password: </span><input type="password" data-bind="value:twelvevoipPassword" placeholder="12voip password"/>
                <button data-translateable="true" data-bind="click: smsConfig">Save</button></li>
                </ul>
            </form>
            <hr/>
            <span>To send you a test SMS, click on button: </span><button data-translateable="true" data-bind="click: smsTest">Test</button>
        </div>
        <div id="tabs-mail">
            <div><div style="float:left; margin-right:10px; margin-top:10px;"><i style="font-size:xx-large" class="icon-mail"></i></div><div><h4 data-translateable="true">Email configuration</h4></div></div>
            <span>Agocontrol can send alert through email.</span>
            <hr/>
            <ko opts="if: mailStatus"> 
                <span style="color:#00CC00;">Mail is configured</span>
            </ko>
            <ko opts="ifnot: mailStatus"> 
                <span style="color:#CC0000;">Mail is not yet configured</span>
            </ko>
            <br/>
            <span>Specify your email SMTP server and a sender email address:</span>
            <form>
                <ul>
                <li><span>SMTP server: </span><input data-bind="value:mailSmtp" placeholder="smtp"/></li>
                <li><span>Sender email: </span><input data-bind="value:mailSender" placeholder="email"/>
                <button data-translateable="true" data-bind="click: mailConfig">Save</button></li>
                </ul>
            </form>
            <hr/>
            <form>
            <span>To send you a test email, type your email address and click on button: </span><input class="mailEmail" name="value" placeholder="email address"/><button data-translateable="true" data-bind="click: mailTest">Test</button>
            </form>
        </div>
        <div id="tabs-push">
            <div><div style="float:left; margin-right:10px; margin-top:10px;"><i style="font-size:xx-large" class="icon-direction"></i></div><div><h4 data-translateable="true">Push configuration</h4></div></div>
            <span>Agocontrol can send alert through push notifications.</span>
            <hr/>
            <ko opts="if: pushStatus"> 
                <span style="color:#00CC00;">Push is configured</span>
            </ko>
            <ko opts="ifnot: pushStatus"> 
                <span style="color:#CC0000;">Push is not yet configured</span>
            </ko>
            <br/>
            <span>Choose push provider in list:</span>
            <select data-bind="value:selectedPushProvider">
                <option value="pushbullet">Pushbullet</option>
                <option value="pushover">Pushover</option>
                <option value="notifymyandroid">Notifymyandroid</option>
            </select>
            <ko opts="if: selectedPushProvider()=='pushbullet'">
            <ul>
                <li>
                    <span>Enter your apikey (<a target="_blank" href="https://www.pushbullet.com/account">available here</a>): </span>
                    <input data-bind="value:pushbulletApikey" placeholder="apikey"/>
                </li>
                <li>
                    <span>Refresh your devices list clicking on the button: </span>
                    <button class="icon-cycle" data-bind="click:pushbulletRefreshDevices">Refresh list</button>
                </li>
                <li>
                    <span>And choose your devices that will be notified:</span>
                    <br/>
                    <select data-bind="options:pushbulletAvailableDevices, selectedOptions:pushbulletSelectedDevices" size="5" multiple="true" style="width:300px;"></select>
                </li>
                <li>
                    <span>Finally save your settings: </span>
                    <button data-translateable="true" data-bind="click: pushConfig">Save</button>
                </li>
            </ul>
            </ko>
            <ko opts="if: selectedPushProvider()=='pushover'">
            <ul>
                <li>
                    <span>Enter your userid (<a target="_blank" href="https://pushover.net/dashboard">available here</a>): </span>
                    <input data-bind="value:pushoverUserid" placeholder="userid"/>
                </li>
                <li>
                    <span>And save your settings</span>
                    <button data-translateable="true" data-bind="click: pushConfig">Save</button>
                </li>
            </ul>
            </ko>
            <ko opts="if: selectedPushProvider()=='notifymyandroid'">
            <ul>
                <li>
                    <span>Enter your apikeys (<a target="_blank" href="https://www.notifymyandroid.com/account.jsp">available here</a>): </span>
                    <input data-bind="value:nmaApikey" placeholder="apikey"/>
                    <button data-bind="click:nmaAddApikey">+</button>
                </li>
                <li>
                    <select data-bind="options:nmaAvailableApikeys, selectedOptions:nmaSelectedApikeys" size="5" multiple="true" style="width:400px;"></select>
                    <button data-bind="click:nmaDelApikey">-</button>
                </li>
                <li>
                    <span>And save your settings</span>
                    <button data-translateable="true" data-bind="click: pushConfig">Save</button>
                </li>
            </ul>
            </ko>
            <hr/>
            <span>To push you test notification, click on button: </span><button data-translateable="true" data-bind="click: pushTest">Test</button>
        </div>
    </div>
</div>

