<div>
<div style="text-align: center; border-bottom: 1px solid #000; font-weight: 700" data-bind="text: environment"></div>
<div style="float:left; width: 50%"><strong>Date</strong></div>
<div style="float:left; width: 50%"><strong>Value</strong></div>
<br style="clear: both" />
<div style="width: 100%; max-height: 340px; overflow: auto">
	<table style="width:100%; border: 1px solid #000; border-collapse: collapse;" data-bind="foreach: data">
		<tr>
			<td style="width:49%; border: 1px solid #000; border-collapse: collapse;padding-left: 1%;" data-bind="text: date">Hallo</td>
			<td style="width:49%; text-align: right; border: 1px solid #000; border-collapse: collapse;padding-right: 1%" data-bind="text: value">Bla</td>
		</tr>
	</table>
</div>
<br />
</div>