<div>
<strong>UUID:</strong><span style="color: darkorange" data-bind="text: uuid"></span><br />
<ko opts="if: name">
<strong>Name:</strong><span style="color: darkorange" data-bind="text: name"></span><br />
</ko>
<strong>Type:</strong><span style="color: darkorange" data-bind="text: devicetype"></span><br />
<ko opts="if: room">
<strong>Room:</strong><span style="color: darkorange" data-bind="text: room"></span><br />
</ko>
<strong>State:</strong><span style="color: darkorange" data-bind="text: state"></span><br />
<strong>Lastseen:</strong><span style="color: darkorange" data-bind="text: timeStamp"></span><br />
<form>
<strong>Command:</strong><div style="display: inline" id="commandList"></div><button data-bind="click: execCommand">Run</button>
</form>
</div>
