<div>
    <span id="detailsTitle">Details</span>
    <_strong data-translateable="true">UUID: </_strong><span style="color: darkorange" data-bind="text: uuid"/><br/>
    <ko opts="if: name ">
    <_strong data-translateable="true">Name: </_strong><span style="color: darkorange" data-bind="text: name"/><br/>
    </ko>
    <_strong data-translateable="true">Type: </_strong><span style="color: darkorange" data-bind="text: devicetype"/><br/>
    <ko opts="if: room ">
    <_strong data-translateable="true">Room: </_strong><span style="color: darkorange" data-bind="text: room"/><br/>
    </ko>
    <_strong data-translateable="true">Lastseen: </_strong><span style="color: darkorange" data-bind="text: timeStamp"/><br/>
    <br/>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-outputs">Outputs</a></li>
            <li><a href="#tabs-analogs">Analogs</a></li>
            <li><a href="#tabs-counters">Counters</a></li>
            <li><a href="#tabs-actions">Actions</a></li>
        </ul>
        <div id="tabs-outputs">
            <_h4 data-translateable="true">Outputs configuration</_h4>
            <div style="float:left; width:50%"><_span data-translateable="true">In this tab you can add virtual devices that uses IPX800v3 relays.</_span></div>
            <div style="float:right; width:50%"><img src="img/ipx800v3_outputs.jpg"/></div>
            <hr/>
            <form>
               <ul>
                    <li>
                        <_span data-translateable="true">Output type: </_span>
                        <select data-bind="value: selectedOutputType">
                            <_option data-translateable="true" value="switch">Switch</_option>
                            <_option data-translateable="true" value="drapes">Drapes</_option>
                        </select>
                    </li>
                    <ko opts="if: devswitch">
                    <li>
                        <_span data-translateable="true">Linked relay: </_span>
                        <select data-bind="value: selectedOutputParam1">
                            <option value="0">Ch1</option>
                            <option value="1">Ch2</option>
                            <option value="2">Ch3</option>
                            <option value="3">Ch4</option>
                            <option value="4">Ch5</option>
                            <option value="5">Ch6</option>
                            <option value="6">Ch7</option>
                            <option value="7">Ch8</option>
                        </select>
                    </li>
                    </ko>
                    <ko opts="if: devdrapes">
                    <li>
                        <_span data-translateable="true">Opening relay: </_span>
                        <select data-bind="value: selectedOutputParam1">
                            <option value="0">Ch1</option>
                            <option value="1">Ch2</option>
                            <option value="2">Ch3</option>
                            <option value="3">Ch4</option>
                            <option value="4">Ch5</option>
                            <option value="5">Ch6</option>
                            <option value="6">Ch7</option>
                            <option value="7">Ch8</option>
                        </select>
                        <span>  </span>
                        <_span data-translateable="true">Closing relay: </_span>
                        <select data-bind="value: selectedOutputParam2">
                            <option value="0">Ch1</option>
                            <option value="1">Ch2</option>
                            <option value="2">Ch3</option>
                            <option value="3">Ch4</option>
                            <option value="4">Ch5</option>
                            <option value="5">Ch6</option>
                            <option value="6">Ch7</option>
                            <option value="7">Ch8</option>
                        </select>
                    </li>
                    </ko>
                    <li>
                        <_button data-translateable="true" data-bind="click: addoutput">Add device</_button>
                        <span class="addoutputresult"></span>
                    </li>
                </ul>
            </form>
            <hr/>
            <_span data-translateable="true">Current linked outputs: </_span>
            <span class="currentoutputs"/>
        </div>
        <div id="tabs-analogs">
            <_h4 data-translateable="true">Analogs configuration</_h4>
            <div style="float:left; width:60%"><_span data-translateable="true">In this tab you can add devices that uses IPX800v3 analogs inputs.</_span></div>
            <div style="float:right; width:40%"><img src="img/ipx800v3_analogs.jpg"/></div>
            <hr/>
            <form>
               <ul>
                    <li>
                        <_span data-translateable="true">Analogs type: </_span>
                        <select data-bind="value: selectedAnalogType">
                            <_option data-translateable="true" value="temperature">Temperature</_option>
                            <_option data-translateable="true" value="light">Light</_option>
                            <_option data-translateable="true" value="volt">Volt</_option>
                            <_option data-translateable="true" value="humidity">Humidity</_option>
                        </select>
                    </li>
                    <li>
                        <_span data-translateable="true">Linked analog input: </_span>
                        <select data-bind="value: selectedAnalogParam1">
                            <option value="0">A1</option>
                            <option value="1">A2</option>
                            <option value="2">A3</option>
                            <option value="3">A4</option>
                        </select>
                    </li>
                    <li>
                        <_button data-translateable="true" data-bind="click: addanalog">Add device</_button>
                        <span class="addanalogresult"/>
                    </li>
                </ul>
            </form>
            <hr/>
            <_span data-translateable="true">Current linked analogs: </_span>
            <span class="currentanalogs"/>
        </div>
        <div id="tabs-counters">
            <_h4 data-translateable="true">Counters configuration</_h4>
            <_span data-translateable="true">In this tab you can add counters managed by IPX800v3 board.</_span>
            <hr/>
            <form>
               <ul>
                    <li>
                        <_span data-translateable="true">Linked counter: </_span>
                        <select data-bind="value: selectedCounterParam1">
                            <option value="0">C1</option>
                            <option value="1">C2</option>
                            <option value="2">C3</option>
                        </select>
                    </li>
                    <li>
                        <_button data-translateable="true" data-bind="click: addcounter">Add device</_button>
                        <span class="addcounterresult"/>
                    </li>
                </ul>
            </form>
            <hr/>
            <_span data-translateable="true">Current linked counters: </_span>
            <span class="currentcounters"/>
        </div>
        <div id="tabs-actions">
            <_h4 data-translateable="true">Actions</_h4>
            <_span data-translateable="true">In this tab you can execute actions available on board.</_span>
            <hr/>
            <ul>
                <li>
                    <_span data-translateable="true">Turn on all IPX800 devices: </_span>
                    <_button data-translateable="true" data-bind="click: allOn">Turn all on</_button>
                </li>
                <li>
                    <_span data-translateable="true">Turn off all IPX800 devices: </_span>
                    <_button data-translateable="true" data-bind="click: allOff">Turn all off</_button>
                </li>
                <li>
                    <_span data-translateable="true">Force IPX800 drapes state: </_span>
                    <select data-bind="options: devices, value:selectedDevice"></select>
                    <select data-bind="value: selectedDeviceState">
                        <_option data-translateable="true" value="opened">Opened</_option>
                        <_option data-translateable="true" value="closed">Closed</_option>
                    </select>
                    <_button data-translateable="true" data-bind="click: forcestate">Force state</_button>
                    <span data-bind="text: forcestateresult"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
