<div>
    <span id="detailsTitle">Details</span>
    <strong>UUID: </strong><span style="color: darkorange" data-bind="text: uuid"/><br/>
    <ko opts="if: name ">
    <strong>Name: </strong><span style="color: darkorange" data-bind="text: name"/><br/>
    </ko>
    <strong>Type: </strong><span style="color: darkorange" data-bind="text: devicetype"/><br/>
    <ko opts="if: room ">
    <strong>Room: </strong><span style="color: darkorange" data-bind="text: room"/><br/>
    </ko>
    <strong>Lastseen: </strong><span style="color: darkorange" data-bind="text: timeStamp"/><br/>
    <br/>
    <h4 data-translateable="true">IPX800 configuration</h4>
    <hr/>
    <span>Add new board:</span>
    <form>
        <span>Board ip address: </span>
        <input data-bind="value: ipx800ip" placeholder="ip address"/>
        <button data-translateable="true" data-bind="click: addboard">Add board</button>
        <span class="addboardresult"></span>
    </form>
</div>
