<strong>UUID: </strong><span style="color: darkorange" data-bind="text: uuid"></span><br />
<!-- ko if: name -->
<strong>Name:</strong><span style="color: darkorange" data-bind="text: name"></span><br />
<!-- /ko -->
<strong>Type:</strong><span style="color: darkorange" data-bind="text: devicetype"></span><br />
<!-- ko if: room -->
<strong>Room:</strong><span style="color: darkorange" data-bind="text: room"></span><br />
<!-- /ko -->
<br />
<!-- ko foreach: valueList -->
	<strong data-bind="text: name"></strong><strong>: </strong>
	<span style="color: darkorange" data-bind="text: level"></span>
	<span style="color: darkorange" data-bind="text: unit"></span>
	<br />
<!-- /ko -->
<br /><br />
<div style="width: 100%; height: 350px" id="graph"></div>