<%inherit file="base.html"/>
<%block name="title">ago control scenario setup</%block>

<h3>Edit Scenario</h3>
<script type="text/javascript">
    $(document).ready(function () {
        var commands = ${commands};
        var list = [];
        for (var idx in commands) {
             if (commands[idx].command !== undefined) {
                list.push(idx);
             }
        }
        list.sort();
        for (var i = 0; i < list.length; i++) {
            idx = list[i];
            if (commands[idx].command !== undefined) {
                add_scenario_command(commands[idx]);
            }
        }
    });
</script>
<div id="scenario_builder">
<span id="scenario_device_options"> 
<select class="scenario_device_select">
<option value="" commands=""></option>
<option value="" commands="isleep">Sleep</option>
<% i = 0 %>
% for device in inventory:
  <% i = i + 1 %>
        <option rel="${device["id"]}" commands="${devicetype_commands_values(device["devicetype"])}" value="${device["name"]}">${device["name"]}</option>
% endfor
</select>
</span>
<span id="scenario_device_options2"> 
<select id="scenario_device_select">
<option value="" commands=""></option>
<option value="" commands="isleep">Sleep</option>
<% i = 0 %>
% for device in inventory:
  <% i = i + 1 %>
        <option rel="${device["id"]}" commands="${devicetype_commands_values(device["devicetype"])}" value="${device["name"]}">${device["name"]}</option>
% endfor
</select>
</span>
<fieldset id="scenario_builder_fieldset">
<div class="row">
  <div class="tree columns">
    <dl class="field row">
     <dt class="text">
        <input type="text" name="scenario_name" id="scenario_name" value="${name}" placeholder="Scenario name" />
     </dt>
    </dl>
  </div>
</div>
</fieldset>
<br />
<input type="button" value="Add a command" class="scenario_add_command btn" id="scenario_add_command2" />
<input type="button" value="Save Scenario" class="submit_scenario2 btn" id="edit_scenario2" />
<input type="hidden" id="uuid" value="${uuid}" />
</div>

<%def name="devicetype_commands(devicetype,uuid,state)">
% if devicetype in schema["devicetypes"]:
  % for command in schema["devicetypes"][devicetype]["commands"]:
      % if command == "setlevel":
        <div class="slider level" rel="${uuid}" def_value="${state}"></div>
      % else:
	<button class="switch_${command}" rel="${uuid}">${schema["commands"][command]["name"]}</button>
      % endif
  % endfor
% endif
</%def>

<%def name="devicetype_commands_values(devicetype)">
% if devicetype in schema["devicetypes"]:
  % for command in schema["devicetypes"][devicetype]["commands"]:
	${command},
  % endfor
% endif
</%def>
