<%inherit file="base.html"/>
<%block name="title">ago control scenario setup</%block>
<div id="devices">
<h2>Scenario Setup</h2>
<table id="ScenarioTable" class="tablesorter">
<thead>
    <tr>
        <th>UUID</th>
        <th>Scenario Name</th>
        <th>Room Name</th>
        <th>Action</th>
    </tr>
<tbody>
% for device in inventory:
  % if "scenario" in device["devicetype"]:
    <tr>
        <td class="uuid">${device["id"]}</td>
        <td class="edit_device" rel="${device["id"]}">${device["name"]}</td>
        <td class="select_device_room" rel="${device["id"]}">${device["roomname"]}</td>
        <td>${devicetype_commands(device["devicetype"],device["id"],device["state"])} &nbsp; <button class="scenario_edit" rel="${device["id"]}">Edit</button>  &nbsp; <button class="scenario_delete" rel="${device["id"]}">Delete</button></td>
    </tr>
  % endif
% endfor
</tbody>
</table>
</div>


<h3>Add Scenario</h3>
<div id="scenario_builder">
<span id="scenario_device_options"> 
<select id="scenario_device_select">
<option value="" commands=""></option>
<option value="" commands="isleep">Sleep</option>
<% i = 0 %>
% for device in inventory:
  <% i = i + 1 %>
        <option rel="${device["id"]}" commands="${devicetype_commands_values(device["devicetype"])}" value="${device["name"]}">${device["name"]}</option>
% endfor
</select>
</span>
<fieldset id="scenario_builder_fieldset">
<div class="row">
  <div class="tree columns">
    <dl class="field row">
     <dt class="text">
        <input type="text" name="scenario_name" id="scenario_name" placeholder="Scenario name" />
     </dt>
    </dl>
  </div>
</div>
</fieldset>
<br />
<input type="button" value="Add a command" class="scenario_add_command btn" id="scenario_add_command" />
<input type="button" value="Create Scenario" class="submit_scenario2 btn" id="submit_scenario2" />
</div>

<%def name="devicetype_commands(devicetype,uuid,state)">
% if devicetype in schema["devicetypes"]:
  % for command in schema["devicetypes"][devicetype]["commands"]:
      % if command == "setlevel":
        <div class="slider level" rel="${uuid}" def_value="${state}"></div>
      % else:
	<button class="switch" command="${command}" rel="${uuid}" state="0">${schema["commands"][command]["name"]}</button>
      % endif
  % endfor
% endif
</%def>

<%def name="devicetype_commands_values(devicetype)">
% if devicetype in schema["devicetypes"]:
  % for command in schema["devicetypes"][devicetype]["commands"]:
	${command},
  % endfor
% endif
</%def>
