<div class="four columns grid-item device"  data-bind="attr: {'data-uuid': uuid}">
	<div class="row">
		<div class="three columns">
			<div class="pretty large primary btn grid-item-icon handle">
				<i class="icon-gauge"></i>
			</div>
		</div>
		<div class="nine columns">
			<div class="grid-item-header">
				<!-- ko if: name -->
				    <h3 data-bind="text: name"></h3>
				<!-- /ko -->
				<!-- ko ifnot: name -->
				    <h3 data-bind="text: devicetype"></h3>
				<!-- /ko -->
				<p class="room" data-bind="text: room"><i class="icon-location"></i></p>
				<p class="info" data-bind="text: state"><i class="icon-info"></i></p>
			</div>
		</div>
	</div>
    <div class="row grid-item-controls">
	    <div class="twelve columns">
        	<div class="prepend append double field">
		        <span class="adjoined wide ">Current value</span> 
	 	        <input class="text input" type="text" value="" data-bind="value: state" />
			</div> 
    	</div>
    </div>
</div>
