{{#if isFirst }}
<div class="four columns grid-item" style="margin-left:0">
{{ else }}
<div class="four columns grid-item" >
{{/if}}
<!-- devicetype binarysensor - begin-->
<div class="row">
	<div class="three columns">
		<div class="pretty large primary btn grid-item-icon">
			<i class="icon-gauge"></i>
		</div>
	</div>
	<div class="nine columns">
		<div class="grid-item-header">
			{{#if name}} 
				<h3>{{name}}</h3>
			{{else}}
				<h3>{{devicetype}}</h3>
			{{/if}}
			<span class="room"><i class="icon-location"></i>{{room}}</span>
		</div>
	</div>
</div>
<div class="row grid-item-controls">
	<div class="twelve columns">
	 	                <li class="prepend append double field">
					<span class="adjoined wide ">Current value</span> 
	 	                        <input class="text input" type="text" value="{{state}}" />
				</li> 
	</div>
</div>
<!-- devicetype binarysensor - end-->
</div>
