{{#if isFirst }}
<div class="four columns grid-item" style="margin-left: 0">
{{ else }}
<div class="four columns grid-item">
{{/if}}
<!-- devicetype dimmer - begin-->
<div class="row">
	<div class="three columns">
		<div class="pretty large primary btn grid-item-icon">
			<i class="icon-lamp"></i>
		</div>
	</div>
	<div class="nine columns">
		<div class="grid-item-header">
			<h3>Lamp Dimmer</h3>
			<span class="room"><i class="icon-location"></i>{{room}}</span>
		</div>
	</div>
</div>
<div class="row grid-item-controls">
	<div class="six columns">
		<div class="cmd-btn pretty medium primary btn btn-full grid-command" data-uuid="{{uuid}}" data-value="on">ON</div>
	</div>
	<div class="six columns">
		<div class="cmd-btn pretty medium secondary btn btn-full grid-command" data-uuid="{{uuid}}" data-value="off">OFF</div>
	</div>
	<div class="twelve columns">
		<div class="slider"></div>
	</div>
</div>
<!-- devicetype dimmer - end-->
</div>