<div class="four columns grid-item device"  data-bind="attr: {'data-uuid': uuid}">
	<div class="row">
		<div class="three columns">
			<div class="pretty large primary btn grid-item-icon handle">
                <i class="icon-arrow-combo" data-bind="click: showDetails"></i>
			</div>
		</div>
		<div class="nine columns">
			<div class="grid-item-header">
                                <ko opts="if: name">
                                    <h3 data-bind="text: name"></h3>
                                </ko>
                                <ko opts="ifnot: name">
                                    <h3 data-bind="text: devicetype"></h3>
                                </ko>
				<ko opts="if: room">
					<p class="room"><i class="icon-location"></i><span data-bind="text: room"></span></p>
				</ko>
				<p class="info">
                    <i class="icon-info"/>
                    <ko opts="if: state()==0">
                        <_span data-translateable="true">CLOSED</_span>
                    </ko>
                    <ko opts="if: (state()!=0 and state()!=50 and state()!=100)">
                        <_span data-translateable="true">OPENED</_span>
                    </ko>
                    <ko opts="if: state()==50">
                        <_span data-translateable="true">OPENING</_span>
                    </ko>
                    <ko opts="if: state()==100">
                        <_span data-translateable="true">CLOSING</_span>
                    </ko>
                    <ko opts="if: state()==150">
                        <_span data-translateable="true">STOPPED</_span>
                    </ko>
                </p>
			</div>
		</div>
	</div>
	<div class="row grid-item-controls">
		<div class="four columns">
		    <ko opts="if: state">
                <_div data-translateable="true" class="cmd-btn pretty medium default btn btn-full grid-command" data-bind="click: turnOn" data-value="on">OPEN</_div>
            </ko>
            <ko opts="ifnot: state">
                <_div data-translateable="true" class="cmd-btn pretty medium primary btn btn-full grid-command" data-bind="click: turnOn" data-value="on">OPEN</_div>
            </ko>
		</div>
		<div class="four columns">
            <_div data-translateable="true" class="cmd-btn pretty medium primary btn btn-full grid-command" data-bind="click: turnStop" data-value="stop">STOP</_div>
		</div>
		<div class="four columns">
		    <ko opts="if: state">
                <_div data-translateable="true" class="cmd-btn pretty medium primary btn btn-full grid-command" data-bind="click: turnOff" data-value="off">CLOSE</_div>
		    </ko>
            <ko opts="ifnot: state">
                <_div data-translateable="true" class="cmd-btn pretty medium default btn btn-full grid-command" data-bind="click: turnOff" data-value="off">CLOSE</_div>
            </ko> 
		</div>
	</div>
</div>
