<div class="four columns grid-item device"  data-bind="attr: {'data-uuid': uuid}">
	<div class="row">
		<div class="three columns">
			<div class="pretty large primary btn grid-item-icon handle">
				<i class="icon-lamp" data-bind="click: showDetails"></i>
			</div>
		</div>
		<div class="nine columns">
			<div class="grid-item-header">
				<h3 data-bind="text: name, if: name"></h3>
				<p class="room" data-bind="text: room"><i class="icon-location"></i></p>
				<p class="info" data-bind="text: state"><i class="icon-info"></i></p>
			</div>
		</div>
	</div>
</div>
