<div class="four columns grid-item device"  data-bind="attr: {'data-uuid': uuid}">
	<div class="row">
		<div class="three columns">
			<div class="pretty large primary btn grid-item-icon handle">
				<i class="icon-water" data-bind="click: function(data, event) { showDetails(data) }"></i>
			</div>
		</div>
		<div class="nine columns">
			<div class="grid-item-header">
				<ko opts="if: name ">
				    <h3 data-bind="text: name"></h3>
				</ko>
				<ko opts="ifnot: name ">
				    <h3 data-bind="text: devicetype"></h3>
				</ko>
				<ko opts="if: room ">
					<p class="room"><i class="icon-location"></i><span data-bind="text: room"></span></p>
				</ko>
			</div>
		</div>
	</div>
    <div class="row grid-item-controls">
	    <div class="twelve columns">
			<div class="prepend append field" data-bind="foreach: valueList">
				<span class="adjoined wide" data-bind="text: name">{</span>
				<input class="xnarrow text input" type="text" value="" data-bind="value: level" /> <span
				class="adjoined xnarrow" data-bind="text: unit">x</span>
				<div
					class="small pretty primary btn icon-left entypo icon-chart-area grid-command">
					<a href="#" data-bind="click: function(data, event) { showDetails($parent, data.name) }">GRAPH</a>
				</div>
				<br />
			</div>
    	</div>
    </div>
</div>
