{{#if isFirst }}
<div class="four columns grid-item" style="margin-left:0">
{{ else }}
<div class="four columns grid-item" >
{{/if}}
<!-- devicetype multilevelsensor - begin-->
<div class="row">
	<div class="three columns">
		<div class="pretty large primary btn grid-item-icon">
			<i class="icon-gauge"></i>
		</div>
	</div>
	<div class="nine columns">
		<div class="grid-item-header">
			{{#if name}} 
				<h3>{{name}}</h3>
			{{else}}
				<h3>{{devicetype}}</h3>
			{{/if}}
			<span class="room"><i class="icon-location"></i>{{room}}</span>
		</div>
	</div>
</div>
<div class="row grid-item-controls">
	<div class="twelve columns">
		<li class="prepend append field"><span class="adjoined wide">Temperature</span>
			<input class="xnarrow text input" type="text" value="{{state}}" /> <span
			class="adjoined xnarrow">°C</span>
			<div
				class="small pretty primary btn icon-left entypo icon-chart-area grid-command">
				<a href="#">GRAPH</a>
			</div></li>
		<li class="prepend append field"><span class="adjoined wide">Humidity</span>
			<input class="xnarrow text input" type="text" value="87" /> <span
			class="adjoined xnarrow">%</span>
			<div
				class="small pretty primary btn icon-left entypo icon-chart-area grid-command">
				<a href="#">GRAPH</a>
			</div></li>
	</div>
</div>
<!-- devicetype multilevelsensor - end-->
</div>