<div data-bind="attr: {'data-uuid': uuid}" class="four columns grid-item device">
	<div class="row">
		<div class="three columns">
			<div class="pretty large primary btn grid-item-icon handle">
				<i data-bind="click: showDetails" class="icon-note-beamed"/>
			</div>
		</div>
		<div class="nine columns">
			<div class="grid-item-header">
				<h3 data-bind="text: name"/>
				<ko opts="if: room ">
					<p class="room"><i class="icon-location"/><span data-bind="text: room"/></p>
				</ko>
                <p class="info"><i class="icon-info" />
                    <ko opts="if: state() == 0">
                        <_span data-translateable="false">OFF</_span>
                    </ko>
                    <ko opts="if: (state() and mediastate()=='streaming')">
                        <_span data-translateable="false">STREAMING</_span>
                    </ko>
                    <ko opts="if: (state() and mediastate()=='playing')">
                        <_span data-translateable="false">PLAYING</_span>
                    </ko>
                    <ko opts="if: (state() and mediastate()=='stopped')">
                        <_span data-translateable="false">STOPPED</_span>
                    </ko>
                    <ko opts="if: (state() and mediastate()=='paused')">
                        <_span data-translateable="false">PAUSED</_span>
                    </ko>
                </p>
			</div>
		</div>
	</div>
	<div class="row grid-item-controls">
        <ko opts="if: state()!=25">
		<div class="three columns">
		    <ko opts="if: state() == 0">
                <_div data-value="on" data-translateable="true" data-bind="click: turnOn" class="cmd-btn pretty medium primary btn btn-full grid-command">ON</_div>
            </ko>
            <ko opts="ifnot: state() == 0">
                <_div data-value="on" data-translateable="true" data-bind="click: turnOn" class="cmd-btn pretty medium default btn btn-full grid-command">ON</_div>
            </ko>
		</div>
		<div class="three columns">
		    <ko opts="if: state() == 0">
                <_div data-value="off" data-translateable="true" data-bind="click: turnOff" class="cmd-btn pretty medium default btn btn-full grid-command">OFF</_div>
            </ko>
            <ko opts="ifnot: state() == 0">
                <_div data-value="off" data-translateable="true" data-bind="click: turnOff" class="cmd-btn pretty medium primary btn btn-full grid-command">OFF</_div>
            </ko>
		</div>
		<div class="three columns">
		    <ko opts="if: (state()!=0 and mediastate()!='playing')">
                <_div data-value="play" data-translateable="true" data-bind="click: play" class="cmd-btn pretty medium primary btn btn-full grid-command">PLAY</_div>
            </ko>
            <ko opts="ifnot: (state()!=0 and mediastate()!='playing')">
                <_div data-value="play" data-translateable="true" data-bind="click: play" class="cmd-btn pretty medium default btn btn-full grid-command">PLAY</_div>
            </ko>
		</div>
		<div class="three columns">
		    <ko opts="if: (state()!=0 and mediastate()=='playing')">
                <_div data-value="pause" data-translateable="true" data-bind="click: pause" class="cmd-btn pretty medium primary btn btn-full grid-command">PAUSE</_div>
            </ko>
            <ko opts="ifnot: (state()!=0 and mediastate()=='playing')">
                <_div data-value="pause" data-translateable="true" data-bind="click: pause" class="cmd-btn pretty medium default btn btn-full grid-command">PAUSE</_div>
            </ko>
		</div>
        </ko>
	</div>
</div>
