{{#if isFirst }}
<div class="four columns grid-item device" style="margin-left:0" data-uuid="{{uuid}}">
{{ else }}
<div class="four columns grid-item device"  data-uuid="{{uuid}}">
{{/if}}
	<!-- devicetype switch - begin-->
	<div class="row">
		<div class="three columns">
			<div class="pretty large primary btn grid-item-icon handle">
				<i class="icon-lamp"></i>
			</div>
		</div>
		<div class="nine columns">
			<div class="grid-item-header">
				{{#if name}} 
					<h3>{{name}}</h3>
				{{else}}
					<h3>{{devicetype}}</h3>
				{{/if}}
				<p class="room"><i class="icon-location"></i>{{room}}</p>
			</div>
		</div>
	</div>
	<div class="row grid-item-controls">
		<div class="six columns">
			{{#if state}}
				<div class="cmd-btn pretty medium primary btn btn-full grid-command" data-uuid="{{uuid}}" data-value="on">ON</div>
			{{else}}
				<div class="cmd-btn pretty medium danger btn btn-full grid-command" data-uuid="{{uuid}}" data-value="on">ON</div>
			{{/if}}
		</div>
		<div class="six columns">
			{{#if state}}
				<div class="cmd-btn pretty medium danger btn btn-full grid-command" data-uuid="{{uuid}}" data-value="off">OFF</div>
			{{else}}
				<div class="cmd-btn pretty medium primary btn btn-full grid-command" data-uuid="{{uuid}}" data-value="off">OFF</div>
			{{/if}} 
		</div>
	</div>
	<!-- devicetype switch - end-->
</div>
