[Unit]
Description=ago control Enigma2/Dreambox interface

[Service]
ExecStart=/opt/agocontrol/bin/agoenigma2.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
