[Unit]
Description=ago control IPX800

[Service]
ExecStart=/opt/agocontrol/bin/agoipx800
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
