[Unit]
Description=ago control JointSpace Device

[Service]
ExecStart=/opt/agocontrol/bin/agojointspace.py
WorkingDirectory=/opt/agocontrol/bin
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
