[Unit]
Description=ago control temperatur "sensor" getting data from http://temperatur.nu

[Service]
ExecStart=/opt/agocontrol/bin/agotemperaturnu.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
