[Unit]
Description=ago control raspberry pi 1-wire GPIO Device
	
[Service]
ExecStart=/opt/agocontrol/bin/raspi1wGPIO.py
WorkingDirectory=/opt/agocontrol/bin
Restart=always
RestartSec=2
User=root
	
[Install]
WantedBy=multi-user.target
