templates/details/energymeter.html
templates/details/brightnesssensor.html
templates/details/default.html
templates/details/powermeter.html
templates/details/temperaturesensor.html
templates/details/multilevelsensor.html
templates/configuration/system.html
templates/configuration/cloud.html
templates/configuration/devices.html
templates/configuration/rooms.html
templates/configuration/events.html
templates/configuration/floorplan.html
templates/configuration/scenarios.html
templates/configuration/variables.html
templates/dashboard.html
templates/floorplan.html
templates/navigation/treenav.html
templates/navigation/configuration.html
templates/navigation/main.html
templates/devices/drapes.html
templates/devices/humiditysensor.html
templates/devices/phone.html
templates/devices/energymeter.html
templates/devices/brightnesssensor.html
templates/devices/dimmer.html
templates/devices/binarysensor.html
templates/devices/dimmerrgb.html
templates/devices/switch.html
templates/devices/scenario.html
templates/devices/energysensor.html
templates/devices/empty.html
templates/devices/powermeter.html
templates/devices/temperaturesensor.html
templates/devices/multilevelsensor.html
templates/devices/pushbutton.html
templates/devices/placeholder.html
templates/inventory.html
templates/configuration.html
