[Unit]
Description=ago control Web GUI NG

[Service]
ExecStart=/opt/agocontrol/admin/agoadmin.py
WorkingDirectory=/opt/agocontrol/admin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
