[Unit]
Description=aGoControl Meloware Lightswitchserver Gateway

[Service]
ExecStart=/opt/agocontrol/bin/agomeloware.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
