[Unit]
Description=aGoControl Resolver

[Service]
ExecStart=/opt/agocontrol/bin/agoresolver.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
