[Unit]
Description=aGoControl Device simulator

[Service]
ExecStart=/opt/agocontrol/bin/agosimulator.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=restart-always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
