<div class="container" id="contentarea">
<span id="passwordError" style="display: none">Passwords do not match!</span>
<div class="row ">
	<div class="twelve columns">
		<_h2 data-translateable="true">ago control Cloud Registration</_h2>
		<ul>
			<_li data-translateable="true" class="warning alert">This service is currently under heavy development!</_li>
		</ul>

		<_p data-translateable="true">Register a ago control Cloud account to remote control your installation via <a href="https://cloud.agocontrol.com" target="_blank">cloud.agocontrol.com</a><br />
		You will be taken to the order page after completing your registration<br />This service is not free.</_p>
		<br />	
		<div>
			<form method="post" data-bind="attr: {'action': cloudURL }, submit: checkPassWords">
				<ul>
					<li class="prepend field">
						<_span data-translateable="true" class="adjoined narrow">Your username</_span>
						<input class="wide input" data-bind="value: cloudUsername" type="text" required="required" data-translateable="true" _placeholder="Input your username" name="username" />
					</li>
					<li class="prepend field">
						<_span data-translateable="true" class="adjoined narrow">Your E-Mail address</_span>
						<input class="wide email input" type="email" required="required" data-translateable="true" _placeholder="Input your E-Mail address" name="email" />
					</li>
					<li class="prepend field">
						<_span data-translateable="true" class="adjoined narrow">Your new password</_span>
						<input class="wide input" data-bind="value: cloudPassword" type="password" required="required" data-translateable="true" _placeholder="Input new password" name="password" />
					</li>
					<li class="prepend field">
						<_span data-translateable="true" class="adjoined narrow">Confirm new password</_span>
						<input class="wide input" data-bind="value: cloudPasswordConfirm" type="password" required="required" data-translateable="true" _placeholder="Confirm new password" name="password_confirm" />
					</li>
				</ul>
				<div class="medium primary btn"><input type="submit" data-translateable="true" _value="Register Cloud account" /></div>
			</form>
		</div>

	</div>
</div>
<div class="row ">
	<_div id="cloudActivationResultTitle" data-translateable="true" style="display:none">Cloud Activation</_div>
	<_div id="cloudActivationResult_0" data-translateable="true" style="display:none">Success, activation successful!</_div>
	<_div id="cloudActivationResult_1" data-translateable="true" style="display:none">Certificate read error!</_div>
	<_div id="cloudActivationResult_2" data-translateable="true" style="display:none">Wrong username, password or activation PIN!</_div>
	<div class="twelve columns">
		<_h2 data-translateable="true">Cloud Activation</_h2>
		<_div data-translateable="true" id="closeButton" style="display:none" _data-close="Close" />
		<div id="cloudActivation">
			<form data-bind="submit: cloudActivate">
				<ul>
					<li class="prepend field">
						<_span data-translateable="true" class="adjoined narrow">Your username</_span>
						<input class="wide input" data-bind="value: cloudUsername" type="text" required="required" data-translateable="true" _placeholder="Input your username" name="username" />
					</li>
					<li class="prepend field">
						<_span data-translateable="true" class="adjoined narrow">Your password</_span>
						<input class="wide input" data-bind="value: cloudPassword" type="password" required="required" data-translateable="true" _placeholder="Input password" name="password" />
					</li>
					<li class="prepend field">
						<_span data-translateable="true" class="adjoined narrow">Your PIN</_span>
						<input class="wide input" data-bind="value: cloudPIN" required="required" data-translateable="true" _placeholder="Input PIN" name="pin" />
					</li>
				</ul>
				<div class="medium primary btn"><input type="submit" data-translateable="true" _value="Activate Cloud" /></div>
			</form>
		</div>
	</div>
</div>
</div>
