<div class="container" id="contentarea">

<div class="row ">
	<div class="twelve columns">
		<h2>ago control Cloud Registration</h2>
		<ul>
			<li class="warning alert">This service is currently under heavy development!</li>
		</ul>

		<p>Register a ago control Cloud account to remote control your installation via <a href="https://cloud.agocontrol.com" target="_blank">cloud.agocontrol.com</a><br />
		You will be taken to the plan purchase site after completing your registration</p>
		
		<div>
			<form method="post" data-bind="attr: {'action': cloudURL}">
				<ul>
					<li class="prepend field">
						<span class="adjoined narrow">Your username</span>
						<input class="wide input" type="text" required="required" placeholder="Input your username" name="username" />
					</li>
					<li class="prepend field">
						<span class="adjoined narrow">Your E-Mail address</span>
						<input class="wide email input" type="email" required="required" placeholder="Input your E-Mail address" name="email" />
					</li>
					<li class="prepend field">
						<span class="adjoined narrow">Your new password</span>
						<input class="wide input" type="password" required="required" placeholder="Input new password" name="password" />
					</li>
					<li class="prepend field">
						<span class="adjoined narrow">Confirm new password</span>
						<input class="wide input" type="password" required="required" placeholder="Confirm new password" name="password_confirm" />
					</li>
				</ul>
				<div class="medium primary btn"><input type="submit" value="Register your Cloud account now" /></div>
			</form>
		</div>

	</div>
</div>
</div>
