<div class="container" id="contentarea">

<div class="row ">
	<div class="twelve columns">

		<h2>Please fill in the requested fields</h2>
		<p>You will be taken to the plan purchase site after completing
			your registration</p>
		
		<strong style="color:red">NOTE: This does NOT work yet</strong><br />	
		
		<div style="text-align: center">
			<form method="post"
				action="https://cloud.agocontrol.com/cloudreg//">
				<input type="text" required="required" placeholder="Your username" name="username"><br>
				<input type="email" required="required" placeholder="Your E-Mail" name="email"><br>
				<input type="password" required="required" placeholder="password" name="password"><br>
				<input type="password" required="required" placeholder="password"
					name="password_confirm"><br> <input type="submit"
					value="Register" class="btn">
			</form>
		</div>

	</div>
</div>
</div>