<div class="container" id="contentarea">
	<_div data-translateable="true" id="confirmDelete" style="display:none">Are you sure that you want to delete this device?</_div>
	<_div data-translateable="true" id="confirmDeleteButtons" style="display:none" _data-yes="Yes" _data-no="No" />
	<_h3 data-translateable="true">Device Configuration</_h3>
	<div style="width:100%; margin-top: 15px;">
		<_strong data-translateable="true">Rooms:</_strong>
		<ko opts="foreach: { data: roomFilters}">
			<button data-bind="attr: {'class': className }, text: value, click: $parent.addFilter"></button>
		</ko>
		<br />
		<_strong data-translateable="true">Devicetypes:</_strong>
		<ko opts="foreach: { data: deviceTypeFilters }">
			<button data-bind="attr: {'class': className }, text: value, click: $parent.addFilter"></button>
		</ko>
	</div>
	<br />
	<table id="configTable" style="width:100%; margin-top: 15px; margin-bottom: 5px;">
		<thead>
		    <tr>
		        <_th data-translateable="true" style="font-weight: 700">Device Name</_th>
		        <_th data-translateable="true" style="font-weight: 700; min-width: 140px">Room Name</_th>
		        <_th data-translateable="true" style="font-weight: 700">Device Type</_th>
		        <_th data-translateable="true" style="font-weight: 700">Handler</_th>
		        <_th data-translateable="true" style="font-weight: 700">IntID</_th>
		        <_th data-translateable="true" style="font-weight: 700">Action</_th>
		    </tr>
		</thead>
		<tbody data-bind="foreach: { data: devices, afterRender: makeEditable }">
		    <tr data-bind="attr: {'data-uuid': uuid}">
			<ko opts="if: name">
		        	<td class="edit_device" data-bind="attr: {'data-uuid': uuid}, text: name"></td>
			</ko>
			<ko opts="ifnot: name">
		        	<td class="edit_device" data-bind="attr: {'data-uuid': uuid}">unset</td>
			</ko>
		
			<ko opts="if: room">
		        	<td class="select_device_room" data-bind="attr: {'data-uuid': uuid}, text: room"></td>
			</ko>
			<ko opts="ifnot: room">
		        	<td class="select_device_room" data-bind="attr: {'data-uuid': uuid}" >unset</td>
			</ko>
		        <td data-bind="text: devicetype"></td>
		        <td data-bind="text: handledBy"></td>
		        <td data-bind="attr: {'title': internalid }, text: internalid" style="white-space: nowrap; overflow:hidden; max-width:180px; text-overflow: ellipsis;"></td>
				<td style="min-width: 240px; text-align:center">
					<div class="pretty medium default btn">
						<_a data-translateable="true" href="#" data-bind="click: function(data, event) { showDetails(data) }">Details</_a>
					</div>
					<div class="pretty medium default btn">
						<_a data-translateable="true" href="#" data-bind="click: $parent.deleteDevice">delete</_a>
					</div>
				</td>
		    </tr>
		</tbody>
	</table>
	<br />
</div>

