<div class="container" id="contentarea">
	<table id="configTable" style="width:100%;">
	<thead>
	    <tr >
	        <th style="font-weight: 700">Device Name</th>
	        <th style="font-weight: 700">Room Name</th>
	        <th style="font-weight: 700">Device Type</th>
	        <th style="font-weight: 700">Handler</th>
	        <th style="font-weight: 700">IntID</th>
	        <th style="font-weight: 700">Value &nbsp;&nbsp;</th>
	    </tr>
	</thead>
	
	</table>
</div>
{{makeTableEditable model}}

