<div class="container" id="contentarea">
	<div style="width:100%; margin-top: 15px;">
		<strong>Rooms:</strong>
		<ko opts="foreach: { data: roomFilters}">
			<button data-bind="attr: {'class': className }, text: value, click: $parent.addFilter"></button>
		</ko>
		<br />
		<strong>Devicetypes:</strong>
		<ko opts="foreach: { data: deviceTypeFilters }">
			<button data-bind="attr: {'class': className }, text: value, click: $parent.addFilter"></button>
		</ko>
	</div>
	<br />
	<table id="configTable" style="width:100%; margin-top: 15px; margin-bottom: 5px;">
		<thead>
		    <tr>
		        <th style="font-weight: 700">Device Name</th>
		        <th style="font-weight: 700">Room Name</th>
		        <th style="font-weight: 700">Device Type</th>
		        <th style="font-weight: 700">Handler</th>
		        <th style="font-weight: 700">IntID</th>
		        <th style="font-weight: 700">Action</th>
		    </tr>
		</thead>
		<tbody data-bind="foreach: { data: devices, afterRender: makeEditable }">
		    <tr data-bind="attr: {'data-uuid': uuid}">
			<ko opts="if: name">
		        	<td class="edit_device" data-bind="attr: {'data-uuid': uuid}, text: name"></td>
			</ko>
			<ko opts="ifnot: name">
		        	<td class="edit_device" data-bind="attr: {'data-uuid': uuid}">unset</td>
			</ko>
		
			<ko opts="if: room">
		        	<td class="select_device_room" data-bind="attr: {'data-uuid': uuid}, text: room"></td>
			</ko>
			<ko opts="ifnot: room">
		        	<td class="select_device_room" data-bind="attr: {'data-uuid': uuid}" >unset</td>
			</ko>
		        <td data-bind="text: devicetype"></td>
		        <td data-bind="text: handledBy"></td>
		        <td data-bind="text: internalid"></td>
				<td class="cmd-btn pretty medium default btn" data-bind="click: function(data, event) { showDetails(data) }">Details</td>
		    </tr>
		</tbody>
	</table>
	<br />
</div>

