<div class="container" id="contentarea">
	<h3>Event Configuration</h3>
	<div class="row">
        <table id="configTable" style="width:100%; margin-top: 15px; margin-bottom: 5px;">
                <thead>
                    <tr>
                        <th style="font-weight: 700">Name</th>
                        <th style="font-weight: 700">Action</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: { data: events, afterRender: makeEditable }">
                    <tr>
                        <td class="edit_event" data-bind="attr: {'data-uuid': uuid}, text: name"></td>
                        <td ><div class="cmd-btn pretty medium default btn btn-full grid-command" data-bind="attr: {'data-uuid': uuid}, click: $parent.deleteEvent">delete</div></td>
                    </tr>
                </tbody>
        </table>
   </div>
   <br />

	<div class="row">
		<h3>Create Event</h3>
		<h4>Criteria</h4>
		<div id="eventBuilder"></div>
		<br />
		<h4>Action</h4>
		<div id="actionBuilder"></div>
		<br />
		<form action="" method="post">
			<h4>Name</h4>
			<div class="row">
				<ul class="ten columns">
					<li class="append field"><input class="wide email input"
						id="eventName" type="text" placeholder="Event name" />
						<div class="medium primary btn">
							<a href="#" data-bind="click: createEvent">Create Event</a>
						</div></li>
				</ul>
			</div>
		</form>
	</div>
</div>