<div>
	<div class="container" id="contentarea">
		<_div data-translateable="true" id="confirmDelete"
			style="display:none">Are you sure that you want to delete this event?</_div>
		<_div data-translateable="true" id="confirmDeleteButtons"
			style="display:none" _data-yes="Yes" _data-no="No" />
		<_h3 data-translateable="true">Event Configuration</_h3>
		<div class="row">
			<table id="configTable"
				style="width: 100%; margin-top: 15px; margin-bottom: 5px;"
				data-bind="dataTable: { 
            dataSource: events,
            rowTemplate: 'rowTemplate', 
            columns: [
                'name', 
                'action'
            ],
            options: {
            	fnRowCallback: makeEditable
            }
        }">
				<thead>
					<tr>
						<_th data-translateable="true" style="font-weight: 700">Name</_th>
						<_th data-translateable="true" style="font-weight: 700; max-width: 120px">Action</_th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<br />

<script type="text/html" id="rowTemplate">
<ko opts="if: uuid != '0'">
<td class="edit_event" data-bind="attr: {'data-uuid': uuid}, text: name"></td>
<td style="max-width: 120px; white-space: nowrap; text-align: center">
<div class="pretty medium default btn">
<i class="icon-pencil"  data-translateable="true" _alt="Edit" _title="Edit" data-bind="attr: {'data-uuid': uuid}, click: $parent.editEvent"></i>
</div>	
<div class="pretty medium default btn">
<i class="icon-cancel"  data-translateable="true" _alt="Delete" _title="Delete" data-bind="attr: {'data-uuid': uuid}, click: $parent.deleteEvent"></i>
</div>	
</td>
 </ko>
</script>

		<div class="row">
			<_h3 data-translateable="true">Create Event</_h3>
			<_h4 data-translateable="true">Criteria</_h4>
			<div id="eventBuilder" class="eventBuilder"></div>
			<br />
			<_h4 data-translateable="true">Action</_h4>
			<div id="actionBuilder"></div>
			<br />
			<form action="" method="post">
				<_h4 data-translateable="true">Name</_h4>
				<div class="row">
					<ul class="ten columns">
						<li class="append field"><input class="wide email input"
							id="eventName" type="text" data-translateable="true"
							_placeholder="Input event name" />
							<div class="medium primary btn">
								<_a data-translateable="true" href="#"
									data-bind="click: createEvent">Create Event</_a>
							</div></li>
					</ul>
				</div>
			</form>
		</div>
	</div>

	<div class="row" id="editEventDialog" style="display: none">
		<_span data-translateable="true" id="editEventDialogTitle">Edit
		Event</_span>
		<_h4 data-translateable="true">Criteria</_h4>
		<div id="eventBuilderEdit"></div>
		<br />
		<_h4 data-translateable="true">Action</_h4>
		<div id="actionBuilderEdit"></div>
		<br />
		<form action="" method="post">
			<div class="row">
				<ul class="ten columns">
					<li class="field">
						<div class="medium primary btn">
							<_a data-translateable="true" href="#"
								data-bind="click: doEditEvent" style="color: #FFF">Save</_a>
						</div>
					</li>
				</ul>
			</div>
		</form>
	</div>
</div>
