<div>
<div class="container" id="contentarea">
	<_div data-translateable="true" id="confirmDelete" style="display:none">Are you sure that you want to delete this event?</_div>
	<_div data-translateable="true" id="confirmDeleteButtons" style="display:none" _data-yes="Yes" _data-no="No" />
	<_h3 data-translateable="true">Event Configuration</_h3>
	<div class="row">
        <table id="configTable" style="width:100%; margin-top: 15px; margin-bottom: 5px;">
                <thead>
                    <tr>
                        <_th data-translateable="true" style="font-weight: 700">Name</_th>
                        <_th data-translateable="true" style="font-weight: 700; max-width: 120px">Action</_th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: { data: events, afterRender: makeEditable }">
                	<ko opts="if: uuid != '0'">
                    <tr>
                        <td class="edit_event" data-bind="attr: {'data-uuid': uuid}, text: name"></td>
                        <td style="max-width: 120px; white-space: nowrap; text-align: center">
				<div class="pretty medium default btn">
					<i class="icon-pencil"  data-translateable="true" _alt="Edit" _title="Edit" data-bind="attr: {'data-uuid': uuid}, click: $parent.editEvent"></i>
				</div>	
				<div class="pretty medium default btn">
					<i class="icon-cancel"  data-translateable="true" _alt="Delete" _title="Delete" data-bind="attr: {'data-uuid': uuid}, click: $parent.deleteEvent"></i>
				</div>	
                        </td>
                    </tr>
                    </ko>
                </tbody>
        </table>
   </div>
   <br />

	<div class="row">
		<_h3 data-translateable="true">Create Event by</_h3>
		<div id="tabs">
            <ul>
                <li><a href="#tab-blocks">Blocks</a></li>
                <li><a href="#tab-nesting">Nesting</a></li>
                <li><a href="#tab-steps">Steps</a></li>
                <li><a href="#tab-code">Code</a></li>
            </ul>
           
            <!-- blockly --> 
            <div id="tab-blocks">

				<!-- blockly configuration -->
				<xml id="toolbox" style="display: none">
					<category name="Condition">
						<block type="controls_if"></block>
						<block type="controls_if_else"></block>
						<block type="controls_if_elseif"></block>
					</category>
					<category name="Logic">
						<block type="logic_compare"></block>
						<block type="logic_operation"></block>
						<block type="logic_negate"></block>
						<block type="logic_boolean"></block>
					</category>
					<category name="Statement">
						<block type="controls_repeat"></block>
						<block type="controls_repeat_ext"></block>
						<block type="controls_whileUntil"></block>
						<block type="controls_for"></block>
						<block type="controls_forEach"></block>
					</category>
					<category name="Math">
						<block type="math_number"></block>
						<block type="math_arithmetic"></block>
						<block type="math_single"></block>
						<block type="math_change"></block>
						<block type="math_on_list"></block>
					</category>
					<category name="Text"> 
						<block type="text"></block>
						<block type="text_isEmpty"></block>
						<block type="text_length"></block>
					</category>
					<category name="Variables">
						<block type="variables_set"></block>
						<block type="variables_get"></block>
					</category>
					<category name="Agocontrol">
						<block type="agocontrol_device"></block>
						<block type="agocontrol_deviceEvents"></block>
						<block type="agocontrol_allEvents"></block>
						<block type="agocontrol_deviceProperties"></block>
						<block type="agocontrol_deviceCommands"></block>
					</category>
				</xml>

                <div id="blocklyDiv" style="height: 500px; width: 840px;"></div>
            </div>

            <!-- nesting -->
            <div id="tab-nesting">
		<_h4 data-translateable="true">Criteria</_h4>
		<div id="eventBuilder" class="eventBuilder"></div>
		<br />
		<_h4 data-translateable="true">Action</_h4>
		<div id="actionBuilder"></div>
		<br />
		<form action="" method="post">
			<_h4 data-translateable="true">Name</_h4>
			<div class="row">
				<ul class="ten columns">
					<li class="append field"><input class="wide email input"
						id="eventName" type="text" data-translateable="true" _placeholder="Input event name" />
						<div class="medium primary btn">
							<_a data-translateable="true" href="#" data-bind="click: createEvent" >Create Event</_a>
						</div></li>
				</ul>
			</div>
		</form>

</div>

            <!-- step by step -->
            <div id="tab-steps">
                <!-- TRIGGER PICKER -->
                <div style="display:none;" id="dialogTriggerPicker" title="Trigger picker">
                    <span>device</span>
                    <select data-bind="options:availableDeviceTypes, value:selectedDeviceType"></select>
                    <select data-bind="options:availableDevices, value:selectedDevice, optionsText:'optionValue'"></select>
                    <br/>
                    <span>triggers event</span>
                    <select data-bind="options:availableDeviceEvents, value:selectedDeviceEvent"></select>
                </div>
                
                <!-- CONDITION PICKER -->
                <div style="display:none;" id="dialogConditionPicker" title="Condition builder">
                    <ko opts="ifnot: dialogConditionPickerFirstCond">
                        <span>previous condition</span>
                        <select data-bind="value:selectedAndOr"><option value="and" selected="true">and</option><option value="or">or</option></select>
                        <br/>
                    </ko>
                    <span>device</span>
                    <select data-bind="options:availableDeviceTypes, value:selectedDeviceType"></select>
                    <select data-bind="options:availableDevices, value:selectedDevice, optionsText:'optionValue'"></select>
                    <ko opts="if: hasSelectedDevice">
                        <br/>
                        <span>has</span>
                        <select data-bind="options:availableDeviceProperties, value:selectedDeviceProperty"></select>
                        <ko opts="if: selectedDevicePropertyType()==''">
                        </ko>
                        <ko opts="if: selectedDevicePropertyType()=='option'">
                            <span>value equal to</span>
                            <select data-bind="options:availablePropertyOptions, value:selectedPropertyOption, optionsText:'optionValue'"></select>
                        </ko>
                        <ko opts="if: selectedDevicePropertyType()=='moptions'">
                            <span>value equal to</span>
                            <select style="width:150px;" multiple="true" size="4" data-bind="options:availablePropertyOptions, selectedOptions:selectedPropertyOptions, optionsText:'optionValue'"></select>
                        </ko>
                        <ko opts="if: selectedDevicePropertyType()=='time'">
                            <span>matches</span>
                            <input id="eventTimePicker" data-bind="value:selectedPropertyTime" value="" size="5"></input>
                        </ko>
                        <ko opts="if: selectedDevicePropertyType()=='bool'">
                            <select data-bind="options:availablePropertyBools, value:selectedPropertyBool, optionsText:'optionValue'"></select>
                        </ko>
                        <ko opts="if: selectedDevicePropertyType()=='range'">
                            <span>value in range</span>
                            <span data-bind="text:selectedPropertyRangeText"></span>
                            <div style="margin:10px;" id="eventRangePicker"></div>
                        </ko>
                        <ko opts="if: selectedDevicePropertyType()=='threshold'">
                            <select data-bind="selectedOptions:selectedPropertyThresholdSign">
                                <option value="gt" selected="true">&gt;</option>
                                <option value="lt">&lt;</option>
                                <option value="eq">=</option>
                                <option value="gte">&gt;=</option>
                                <option value="lte">&lt;=</option>
                            </select>
                            <span>threshold value</span>
                            <input size="5" data-bind="value:selectedPropertyThresholdValue" value="0"></input>
                        </ko>
                        <ko opts="if: selectedDevicePropertyType()=='timeoffset'">
                            <span>with time offset</span>
                            <select data-bind="value:selectedPropertyTimeOffsetSign"><option value="+">+</option><option value="-">-</option></select>
                            <input id="eventTimeOffsetPicker" data-bind="value:selectedPropertyTimeOffsetValue" value="00:00" size="5"></input>
                        </ko>
                    </ko>
                </div>

                <!-- ACTION PICKER -->
                <div style="display:none;" id="dialogActionPicker" title="Action picker">
                    <span>execute device's</span>
                    <select data-bind="options:availableDeviceTypes, value:selectedDeviceType"></select>
                    <select data-bind="options:availableDevices, value:selectedDevice, optionsText:'optionValue'"></select>
                    <br/>
                    <ko opts="if: selectedDevice()">
                        <span>command</span>
                        <select data-bind="options:availableDeviceCommands, value:selectedDeviceCommand, optionsText:'optionValue'"></select>
                        <ko opts="if: selectedCommandParameters().length>0">
                            <br/>
                            <span>with parameters</span><span>:</span>
                            <br/>
                            <ul data-bind="foreach: selectedCommandParameters">
                                <li>
                                    <span>-</span>
                                    <span data-bind="text:desc"></span>
                                    <ko opts="if: type=='option'">
                                        <select data-bind="options:options, attr:{id:name}"></select>
                                    </ko>
                                    <ko opts="ifnot: type=='option'">
                                        <input data-bind="attr:{id:name}"></input>
                                    </ko>
                                </li>
                            </ul>
                        </ko>
                    </ko>
                </div>

                <!-- EVENT CREATION CONTENT -->
                <div>
                    <h3>If</h3>
                    <div id="if">
                        <ul data-bind="foreach: ifTriggersText">
                            <li>
                                <ko opts="if: $parent.currentEvent.triggers.length>1">
                                    <span>or</span>
                                </ko>
                                <span style="font-weight:bold;" data-bind="text:deviceName"></span>
                                <span>triggers event</span>
                                <span style="font-weight:bold;" data-bind="text:event"></span>
                            </li>
                        </ul>
                        <button data-bind="click:openIfTriggerPicker">Add trigger</button>
                    </div>

                    <h3>And</h3>
                    <div id="and">
                        <ul data-bind="foreach: andConditionsText">
                            <li>
                                <span data-bind="text:andOr"></span>
                                <span style="font-weight:bold;" data-bind="text:deviceName"></span>
                                <span>has</span>
                                <span style="font-weight:bold;" data-bind="text:propName"></span>
                                <ko opts="if: type=='option'">
                                    <span>equal to</span>
                                    <span style="font-weight:bold;" data-bind="text:options.optionValue"></span>
                                </ko>
                                <ko opts="if: type=='moptions'">
                                    <span>value in</span>
                                    <span>(</span>
                                    <!-- ko foreach:moptions -->
                                        <span style="font-weight:bold;" data-bind="text:$data.optionValue"></span>
                                        <span>,</span>
                                    <!-- /ko -->
                                    <span>)</span>
                                </ko>
                                <ko opts="if: type=='bool'">
                                    <span style="font-weight:bold;" data-bind="text:bool.optionValue"></span>
                                </ko>
                                <ko opts="if: type=='time'">
                                    <span>matches</span>
                                    <span style="font-weight:bold;" data-bind="text:time"></span>
                                </ko>
                                <ko opts="if: type=='range'">
                                    <span>in range</span>
                                    <span>[</span>
                                    <span style="font-weight:bold;" data-bind="text:rangeMin"></span>
                                    <span>,</span>
                                    <span style="font-weight:bold;" data-bind="text:rangeMax"></span>
                                    <span>]</span>
                                </ko>
                                <ko opts="if: type=='timeoffset'">
                                    <span>with time offset</span>
                                    <span style="font-weight:bold;" data-bind="text:timeOffsetSign"></span>
                                    <span style="font-weight:bold;" data-bind="text:timeOffsetValue"></span>
                                </ko>
                                <ko opts="if: type=='threshold'">
                                    <ko opts="if: thresholdSign=='gt'">
                                        <span style="font-weight:bold;">&gt;</span>
                                    </ko>
                                    <ko opts="if: thresholdSign=='lt'">
                                        <span style="font-weight:bold;">&lt;</span>
                                    </ko>
                                    <ko opts="if: thresholdSign=='eq'">
                                        <span style="font-weight:bold;">=</span>
                                    </ko>
                                    <ko opts="if: thresholdSign=='gte'">
                                        <span style="font-weight:bold;">&gt;=</span>
                                    </ko>
                                    <ko opts="if: thresholdSign=='lte'">
                                        <span style="font-weight:bold;">&lt;=</span>
                                    </ko>
                                    <span style="font-weight:bold;" data-bind="text:thresholdValue"></span>
                                </ko>
                            </li>
                        </ul>
                        <button data-bind="click:openAndConditionPicker, enable:hasTriggers">Add condition</button>
                    </div>

                    <h3>Then</h3>
                    <div id="then">
                        <ul data-bind="foreach: thenActionsText">
                            <li>
                                <span style="font-weight:bold;" data-bind="text:deviceName"></span> <span>execute command</span> <span style="font-weight:bold;" data-bind="text:actionDesc"></span>
                                <ko opts="if: parameters.length>0">
                                    <span>with</span>
                                    <!-- ko foreach: parameters -->
                                        <span style="font-weight:bold;" data-bind="text:name"></span>
                                        <span>=</span>
                                        <span style="font-weight:bold;" data-bind="text:value"></span>
                                        <span>,</span>
                                    <!-- /ko -->
                                </ko>
                            </li>
                        </ul>
                        <button data-bind="click:openThenActionPicker, enable:hasTriggers">Add action</button>
                    </div>

                    <h3>Else</h3>
                    <div id="else">
                        <ul data-bind="foreach: elseActionsText">
                            <li>
                                <span style="font-weight:bold;" data-bind="text:deviceName"></span> <span>execute command</span> <span style="font-weight:bold;" data-bind="text:actionDesc"></span>
                                <ko opts="if: parameters.length>0">
                                    <span>with</span>
                                    <!-- ko foreach: parameters -->
                                        <span style="font-weight:bold;" data-bind="text:name"></span>
                                        <span>=</span>
                                        <span style="font-weight:bold;" data-bind="text:value"></span>
                                        <span>,</span>
                                    <!-- /ko -->
                                </ko>
                            </li>
                        </ul>
                        <button data-bind="click:openElseActionPicker, enable:hasTriggers">Add action</button>
                    </div>
                </div>
            </div>

            <!-- code -->
            <div id="tab-code">
                <span>Not available yet</span>
            </div>
        </div>

	</div>
</div>

<div class="row" id="editEventDialog" style="display: none">
	<_span data-translateable="true" id="editEventDialogTitle">Edit Event</_span>
	<_h4 data-translateable="true">Criteria</_h4>
	<div id="eventBuilderEdit"></div>
	<br />
	<_h4 data-translateable="true">Action</_h4>
	<div id="actionBuilderEdit"></div>
	<br />
	<form action="" method="post">
		<div class="row">
			<ul class="ten columns">
				<li class="field">
					<div class="medium primary btn">
						<_a data-translateable="true" href="#" data-bind="click: doEditEvent" style="color: #FFF">Save</_a>
					</div></li>
			</ul>
		</div>
	</form>
</div>
</div>
