<div class="container" id="contentarea">
	<div class="row">
		<h3>Create Event</h3>
		<div style="color: red; text-align: center; font-weight: 700">THIS IS NOT FINISHED YET!</div>
		<h4>Criteria</h4>
		<div id="eventBuilder"></div>
		<br />
		<h4>Action</h4>
		<div id="actionBuilder"></div>
		<br />
		<form action="" method="post" data-bind="initEvents: $root">
			<h4>Name</h4>
			<div class="row">
				<ul class="ten columns">
					<li class="append field"><input class="wide email input"
						id="roomName" type="text" placeholder="Event name" />
						<div class="medium primary btn">
							<a href="#" data-bind="click: createEvent">Create Event</a>
						</div></li>
				</ul>
			</div>
		</form>
	</div>
</div>