<div class="container" id="contentarea">
	<_h3 data-translateable="true">Floorplan Configuration</_h3>
        <table id="floorPlanTable" style="width:100%; margin-top: 15px; margin-bottom: 5px;">
                <thead>
                    <tr>
                        <_th data-translateable="true" style="font-weight: 700">Floorplan Name</_th>
                        <_th data-translateable="true" style="font-weight: 700">Action</_th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: { data: floorplans, afterRender: makeEditable }">
                    <ko opts="if: uuid">
                    <tr data-bind="attr: {'data-uuid': uuid}">
                        <ko opts="if: name">
                                <td class="edit_fp" data-bind="attr: {'data-uuid': uuid}, text: name"></td>
                        </ko>
                        <ko opts="ifnot: name">
                                <td class="edit_fp" data-bind="attr: {'data-uuid': uuid}">unset</td>
                        </ko>
                        <td style="text-align: center">
                        	<_div data-translateable="true" style="width: 48%;" class="cmd-btn pretty medium default btn" data-bind="click: $parent.editPlan">edit</_div>
                        	<_div data-translateable="true" style="width: 48%;" class="cmd-btn pretty medium default btn" data-bind="click: $parent.deletePlan">delete</_div>
                        </td>
                    </tr>
                    </ko>
                </tbody>
        </table>
        <br />
<br />
<_h3 data-translateable="true">Create a new floorplan</_h3>
<div class="row">
 <ul class="ten columns">
  <li class="append field">
   <input class="wide input" id="floorplanName" type="text" placeholder="New floorplan name" />
   <div class="medium primary btn"><_a data-translateable="true" href="#" onclick="createFloorPlan(); return false;">Create Floorplan</_a></div>
  </li>
 </ul>
</div>
</div>

