<div class="container" id="contentarea">
	<div class="row">
		<_h3 data-translateable="true">Plugins</_h3>
		<table class="agoTable">
			<thead>
				<tr>
					<_th data-translateable="true">Name</_th>
					<_th data-translateable="true">Version</_th>
					<_th data-translateable="true">Description</_th>
				</tr>
			</thead>
			<tbody>
				<ko opts="foreach: { data: plugins }">
				<tr data-bind="css: { 'odd': ($index() % 2 == 0), 'even': ($index() % 2 == 1) }">
					<td><a href="#" data-bind="attr: {'href': '/?plugin&amp;name=' + _name}, text: name"></a></td>
					<td><i style="padding-left: 5px;" data-bind="text: version"/></td>
					<td><span style="text-size:0.8em" data-bind="text: description" /></td>
				</tr>
				</ko>
			</tbody>
		</table>
	</div>
</div>
