<div class="container" id="contentarea">
	<table id="configRoomsTable" style="width:100%; margin-top: 15px; margin-bottom: 5px;">
		<thead>
		    <tr>
		        <th style="font-weight: 700">Room Name</th>
		        <th style="font-weight: 700">Location</th>
		        <th style="font-weight: 700">UUID</th>
		    </tr>
		</thead>
		<tbody data-bind="foreach: { data: rooms, afterRender: makeEditableRooms }">
		    <tr data-bind="attr: {'data-uuid': uuid}">
                        <!-- ko if: name -->
                                <td class="edit_room" data-bind="attr: {'data-uuid': uuid}, text: name"></td>
                        <!-- /ko -->
                        <!-- ko ifnot: name -->
                                <td class="edit_room" data-bind="attr: {'data-uuid': uuid}">unset</td>
                        <!-- /ko -->

                        <!-- ko if: location -->
                                <td class="select_room_location" data-bind="attr: {'data-uuid': uuid}, text: location"></td>
                        <!-- /ko -->
                        <!-- ko ifnot: location -->
                                <td class="select_room_location" data-bind="attr: {'data-uuid': uuid}" >unset</td>
                        <!-- /ko -->
			<td data-bind="text: uuid"></td>

		    </tr>
		</tbody>
	</table>
	<br />
</div>

