#dashboard {
	margin: 00px 0px;
}
#dashboard .off {
        width:80px;
        height:60px;
        display: block !important;
        background: url('../images/buttons/switch.png') repeat-y;
        background-position: 0px 0px;
        cursor: pointer;
        float:left;
}
#dashboard .on {
        width:80px;
        height:60px;
        display: block !important;
        background: url('../images/buttons/switch.png') repeat-y;
        background-position: 0px 60px;
        cursor: pointer;
        float:left;
}

#dashboard .devicename {
	margin-top: -15px;
	font-size: 40%;
	padding-right: 15px;
	text-align: center;
}


#dashboard dimmersection {
	width: 128px;
	height: auto;
	margin: 100px auto 0;
	position: relative;
}
#dashboard #dimmer{
	width: 128px;
	position: absolute;
	top: 64px;
	height: 12px;
	border: none;
	background-color: transparent;
	background: url('../images/buttons/dimmer_track.png') no-repeat top left;
    	left: 0px;
}
#dashboard .level {
	content: "";
	display: inline-block;
	width: 128px;
	height: 64px;
	left: 5px;
	top: 0px;
	background: url('../images/buttons/dimmer_level.png') no-repeat 0 -640px;
	position: absolute;
	margin-top: -5px;
}

#dashboard .ui-slider .ui-slider-handle{
	position: absolute;
	outline: none;
	cursor: pointer;
	background: url('../images/buttons/dimmer_handle.png') no-repeat 50% 50%;
	border:none;
	border-style:none; 
	width: 24px;
	height: 24px;
	top: -7px;
	margin-left: -12px;
}

#dashboard .ui-slider-range {
	background: none;
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
}

/* Table Sorter styles * begin */
/* tables */
table.tablesorter {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	color: #FFFFFF;
	background-color: #4F9EEA;
	border: 1px solid #f1f1f1;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/buttons/tablesorter_up-down.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	border: 1px solid #f1f1f1;
	vertical-align: top;
}
table.tablesorter tbody td.uuid {
	font-family:monospace;
	font-size: 10px;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/buttons/tablesorter_asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/buttons/tablesorter_desc.png);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
/* Table Sorter styles * end */


/* Scenario Styles - sortable * begin */
#scenario_drag, #scenario_drop { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
#scenario_drag li, #scenario_drop li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
#scenario_drag .actions { display: none; }
.connectedSortable { background: #F2F2F2; min-heigt: 20px;} 
#scenario_drop { border: 1px solid #F1f1f1; width: 250px;}
/* Scenario Styles - sortable * end */

#scenario_device_options { display: none;}
#scenario_device_options2 { display: none;}
#inputsetlevel,  #sleep { height: 12px; width: 40px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#scenario_builder_fieldset, #scenario_name { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }


#container
{
	margin: 0 15px;
	background: #eee;
}

#header
{
	background: #fff;
	padding: 5px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #777;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #394bc7; }

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color: #000;
	font-size: 100%;
	margin: 0 0 .5em;
}
