body {
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	background: #efefef;
	color: #404040;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-smoothing: antialiased;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
}

p {  
    word-wrap: break-word;
}

h1 {
	font-size: 32px;
	}
h2 {
	font-size: 32px;
	color: #666666;
	}
h3 {
	font-size: 24px;
	color: #999999;
	}	
h4 {
	font-size: 16px;
	color: #666666;
	}	
i,
em,
dfn,
cite {
	font-style: italic;
}

/* =Responsive Embeds/Objects
-------------------------------------------------------------- */
embed,
object {
	max-width: 100%;
}

/* =Links
-------------------------------------------------------------- */
a {
	color: #06c;
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	color: #444;
	text-decoration: none;
}

::selection {
	background: #cdd0d4;
	text-shadow: none;
}


b,
strong {
	font-weight: 700;
}

pre {
    -moz-box-sizing: border-box;   
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
	background: #f4f4f4;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
    height: auto;
	margin: 0;
	outline: none;
	padding: 6px 10px;
	vertical-align: middle;
    width: 100%;
	color: #000000;
}


	.navbar {
		border: 1px solid #4F9EEA;
		background: #4F9EEA; /* Change this to suit the color theme of your site */
	}

	
	
	.navbar ul li {
		border-right: 1px solid #114a1e;
	}
	
	.navbar > ul > li > a {
		color: #fff;
		font-weight: bold;
		text-shadow: 0 1px 2px #114a1e,
								 0 1px 0 #114a1e;
	}

	.navbar > ul > li:hover > a {	
		background: #484848;
	}

	.pretty.navbar {
		border-radius: 4px;	
		background: -moz-linear-gradient(top, #4F9EEA 0%, #1874CD 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4F9EEA), color-stop(100%,#1874CD)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4F9EEA 0%,#1874CD 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4F9EEA 0%,#1874CD 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4F9EEA 0%,#1874CD 100%); /* IE10+ */
		background: linear-gradient(top, #4F9EEA 0%,#1874CD 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4F9EEA', endColorstr='#1874CD',GradientType=0 ); /* IE6-9 */
		
		-webkit-box-shadow: inset 0 1px 1px #4F9EEA,
			0 1px 2px rgba(0,0,0,0.61) !important; /* Remove this line if you dont want a dropshadow on your navigation*/
		box-shadow: inset 0 1px 1px #4F9EEA,
					0 1px 2px rgba(0,0,0,0.61) !important; /* Remove this line if you dont want a dropshadow on your navigation*/
	}
	
	.pretty.navbar li {
		-webkit-box-shadow:
			inset 1px 0 0 #4F9EEA;
		box-shadow:
			inset 1px 0 0 #4F9EEA;
	}
	
	
	#prettynav {margin-top: 20px;}


.container {
    padding: 10px;
    margin: 0 auto;
    max-width: 940px;
    min-width: 720px;
    width: 100%;
	border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px #ccc,
			0 1px 2px rgba(0,0,0,0.61) !important; /* Remove this line if you dont want a dropshadow on your navigation*/
		box-shadow: inset 0 1px 1px #ccc,
					0 1px 2px rgba(0,0,0,0.61) !important; /* Remove this line if you dont want a dropshadow on your navigation*/
}
.row {
    margin: 0 auto;
    padding: 0; 
    max-width: 940px;
    min-width: 720px;
    width: 100%;
    text-align: left;
}
.row .row {
    min-width: 0;
}

.center {
	text-align: center;
	}


	#footer h4 {
	font-size: 16px;
	}
	
	#footer p {
	font-size: 12px;
	}

    

#eventBuilder dd dl {
	margin-left: 20px;
} 

#eventBuilder dl:before {
	content: "{";
	font-weight: bold;
} 
#eventBuilder dl:after {
	content: "}";
	font-weight: bold;
} 
