{{#if isFirst }}
<div class="four columns grid-item device" style="margin-left:0" data-uuid="{{uuid}}">
{{ else }}
<div class="four columns grid-item device"  data-uuid="{{uuid}}">
{{/if}}
<!-- devicetype temperaturesensor - begin-->
<div class="row">
	<div class="three columns">
		<div class="pretty large primary btn grid-item-icon handle">
			<i class="icon-gauge"></i>
		</div>
	</div>
	<div class="nine columns">
		<div class="grid-item-header">
			{{#if name}} 
				<h3>{{name}}</h3>
			{{else}}
				<h3>{{devicetype}}</h3>
			{{/if}}
			<span class="room"><i class="icon-location"></i>{{room}}</span>
		</div>
	</div>
</div>
<div class="row grid-item-controls">
    <div class="twelve columns">
		{{valueList}}
	</div>
</div>
<!-- devicetype temperaturesensor - end-->
</div>
