<div class="container" id="contentarea" data-bind="initTabs: $root">
	<div class="row">
		<_h3 data-translateable="true">ago control Configuration</_h3>
		<div class="row">
			<div class="twelve columns">
				<section class="vertical tabs">
					<ul class="tab-nav four columns">
						<li class="active"><_a data-translateable="true" href="?configuration#">Welcome</_a></li>
						<li><_a data-translateable="true" href="?configuration#">Dashboard and Floorplans</_a></li>
						<li><_a data-translateable="true" href="?configuration#">Rooms and Variables</_a></li>
						<li><_a data-translateable="true"  href="?configuration#">Scenarios</_a></li>
						<li><_a data-translateable="true"  href="?configuration#">Events</_a></li>
						<li><_a data-translateable="true"  href="?configuration#">Devices</_a></li>
						<li><_a data-translateable="true"  href="?configuration#">System and Cloud</_a></li>
					</ul>
					<!-- Welcome begin -->
					<div class="tab-content eight columns active">
						<img src="/img/agocontrol_logo_welcome.png" alt="" width="350" />
						<_p data-translateable="true">Welcome to the configuration page. You can find useful information and help for the configuration menu records in the left tabs.</_p>
						<_h4 data-translateable="true">Help and Documentation</_h4>
						<a href="http://wiki.agocontrol.com/" target="_blank"><i class="icon-lifebuoy"></i><_span data-translateable="true">ago control Documentation</_span></a><br />
						<a href="http://www.agocontrol.com/forum/" target="_blank"><i class="icon-lifebuoy"></i><_span data-translateable="true">ago control Forum</_span></a><br /><br />
						<_h4 data-translateable="true">Contribute</_h4>
						<_p data-translateable="true">If you want to join the development community or if you like ago control and want to help us with your donation!</_p>
						<a href="http://www.agocontrol.com/contribute/" target="_blank"><i class="icon-lifebuoy"></i><_span data-translateable="true">Contribute to ago control</_span></a>
					</div>
					<!-- Welcome end -->
					<!-- Dashboard and Floorplans begin -->
					<div class="tab-content eight columns">
						<img src="/img/config_dashboard_head-de.png" alt="" width="580" />
						<_p data-translateable="true">You can easly design your Dashboard or add new floorplans
							which are shown in the left main menu. Easily drag and drop your
							devices from the device tree on the left side to the grid and
							save it. You also can have multiple pages on a single grid. If
							you want to reorder the devices on the grid you just drag and
							drop it on the grid.</_p>
						<br />
						<div class="row">
							<div class="medium primary btn six columns centered">
								<_a data-translateable="true" href="/?floorplanConfig">Floorplans</_a>
							</div>
						</div>
					</div>
					<!-- Dashboard and Floorplans end -->
					<!-- Rooms and Variables begin -->
					<div class="tab-content eight columns">
						<_p data-translateable="true">Welcome to the configuration page. You can find useful information and help for the configuration menu records in the left tabs.</_p>
					</div>
					<!-- Rooms and Variables end -->
					<!-- Scenarios begin -->
					<div class="tab-content eight columns">
						<img src="/img/config_scenario_head-de.png" alt="" width="580" />
						<p>A scenario is a set of multiple commands which can fired by
							a single command. For example you can create a scenario like "go
							to bed" which turns off your TV, switch off lights, close drapes
							and arm your security system.</p>
						<br />
						<div class="row">
							<div class="medium primary btn six columns centered">
								<a href="/?scenarioConfig">Open Scenario Editor</a>
							</div>
						</div>
					</div>
					<!-- Scenarios end -->
					<!-- Events begin -->
					<div class="tab-content eight columns">
						<p>You can fire a command or even a scenario if some event
							occours. For example you can create a event that is beeing
							triggerd at sunrise and fires a command to open the drapes. You
							can react on any event which is beeing sent by the system. Events
							also can be nested if you need some event like "if daytime" and
							"sensor brightness less 30" and "motion sensor trapped" then turn
							on the outdoor-light.</p>
						<br />
						<div class="row">
							<div class="medium primary btn six columns centered">
								<a href="/?eventConfig">Open Event Editor</a>
							</div>
						</div>
					</div>
					<!-- Events end -->
					<!-- Devices begin -->
					<div class="tab-content eight columns">
						<p>You can set custom setting for your installed devices or
							hardware devices. Here you can set up for example the Z-Wave
							controller options, associations and so on.</p>
						<div class="row">
							<div class="medium primary btn six columns centered">
								<a href="/?deviceConfig">Open Device Setup</a>
							</div>
						</div>
					</div>
					<!-- Devices end -->
					<!-- Setup and Cloud begin -->
					<div class="tab-content eight columns">
						<p>You can set custom setting for your installed devices or
							hardware devices. Here you can set up for example the Z-Wave
							controller options, associations and so on.</p>
						<div class="row">
							<div class="medium primary btn six columns centered">
								<a href="/?deviceConfig">Open Device Setup</a>
							</div>
						</div>
					</div>
					<!-- Setup and Cloud end -->
				</section>
			</div>
		</div>
		<!-- row Common Tasks end -->
	</div>
</div>
