<div class="container" id="contentarea" data-bind="initTabs: $root">
	<div class="row">
		<_h2 data-translateable="true">Configuration</_h2>
		<div class="row">
			<div class="twelve columns">
				<section class="vertical tabs">
					<_h4 data-translateable="true" class="lead">Common Tasks</_h4>
					<ul class="tab-nav four columns">
						<li class="active"><a href="?configuration#">Device Setup</a></li>
						<li><a href="?configuration#">Dashboard and Floorplans</a></li>
						<li><a href="?configuration#">Scenario Editor</a></li>
						<li><a href="?configuration#">Event Editor</a></li>
						<li><a href="?configuration#">Developer Tools</a></li>
					</ul>
					<!-- Device Setup begin -->
					<div class="tab-content eight columns active">
						<p>You can set custom setting for your installed devices or
							hardware devices. Here you can set up for example the Z-Wave
							controller options, associations and so on.</p>
						<div class="row">
							<div class="medium primary btn six columns centered">
								<a href="/?deviceConfig">Open Device Setup</a>
							</div>
						</div>
					</div>
					<!-- Device Setup end -->
					<!-- Dashboard and Floorplans begin -->
					<div class="tab-content eight columns">
						<p>You can easly design your Dashboard or add new floorplans
							which are shown in the left main menu. Easily drag and drop your
							devices from the device tree on the left side to the grid and
							save it. You also can have multiple pages on a single grid. If
							you want to reorder the devices on the grid you just drag and
							drop it on the grid.</p>
						<a href="?configuration#"><i class="icon-lifebuoy"></i> Watch
							the video tutorial</a><br />
						<br />
						<div class="row">
							<div class="medium primary btn six columns centered">
								<a href="/?floorplanConfig">Open Floorplan Designer</a>
							</div>
						</div>
					</div>
					<!-- Dashboard and Floorplans end -->
					<!-- Scenario Editor begin -->
					<div class="tab-content eight columns">
						<p>A scenario is a set of multiple commands which can fired by
							a single command. For example you can create a scenario like "go
							to bed" which turns off your TV, switch off lights, close drapes
							and arm your security system.</p>
						<a href="?configuration#"><i class="icon-lifebuoy"></i> Watch
							the video tutorial</a><br />
						<br />
						<div class="row">
							<div class="medium primary btn six columns centered">
								<a href="/?scenarioConfig">Open Scenario Editor</a>
							</div>
						</div>
					</div>
					<!-- Scenario Editor end -->
					<!-- Event Editor begin -->
					<div class="tab-content eight columns">
						<p>You can fire a command or even a scenario if some event
							occours. For example you can create a event that is beeing
							triggerd at sunrise and fires a command to open the drapes. You
							can react on any event which is beeing sent by the system. Events
							also can be nested if you need some event like "if daytime" and
							"sensor brightness less 30" and "motion sensor trapped" then turn
							on the outdoor-light.</p>
						<a href="?configuration#"><i class="icon-lifebuoy"></i> Watch
							the video tutorial</a><br />
						<br />
						<div class="row">
							<div class="medium primary btn six columns centered">
								<a href="/?eventConfig">Open Event Editor</a>
							</div>
						</div>
					</div>
					<!-- Event Editor end -->
					<!-- Developer Tools begin -->
					<div class="tab-content eight columns">
						<p>
							Information for Developes can be found at <a
								href="http://www.agocontrol.com/contribute/">http://www.agocontrol.com/contribute/</a>
							Here are some Quick Links:
						</p>
						<ul class="disc">
							<li><a href="developer-drain.html">JS Drain - get all
									Events in realtime</a></li>
							<li><a href="#">View Schema</a></li>
							<li><a href="#">View Inventory</a></li>
						</ul>
					</div>
					<!-- Developer Tools end -->
				</section>
			</div>
		</div>
		<!-- row Common Tasks end -->
	</div>
</div>
