<div id="contentarea" class="container">
<div class="row">
	<div class="twelve columns">
		<h2>System Status</h2>
		<table style="width: 80%;margin-left: 10%">
			<tr>
				<th><strong>Service</strong></th>
				<th><strong>State</strong></th>
			</tr>
			<tbody data-bind="foreach: data">
				<tr>
					<td data-bind="text: name" />
					<ko opts="if: state == 'active'">
						<td><span class="success alert" data-bind="text: state"/></td>
					</ko>
					<ko opts="if: state != 'active'">
						<td><span class="warning alert" data-bind="text: state"/></td>
					</ko>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</div>