 <tr data-uuid="{{uuid}}">
		{{#if name}}
	        	<td class="edit_device" data-uuid="{{uuid}}">{{name}}</td>
		{{else}}
	        	<td class="edit_device" data-uuid="{{uuid}}">unset</td>
		{{/if}}
	
		{{#if room}}
	        	<td class="select_device_room" data-uuid="{{uuid}}">{{room}}</td>
		{{else}}
	        	<td class="select_device_room" data-uuid="{{uuid}}">unset</td>
		{{/if}}
	        <td>{{devicetype}}</td>
	        <td>{{handled-by}}</td>
	        <td>{{internalid}}</td>
		{{#if room}}
	        	<td class="state">{{state}}</td>
		{{else}}
	        	<td class="state">unset</td>
		{{/if}}
</tr>