#!/usr/bin/make -f
export DH_VERBOSE=1

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=agocontrol-dbg

override_dh_auto_build:
	dh_auto_build --parallel

%:
	dh $@ --with python2
