#!/usr/bin/make -f
export DH_VERBOSE=1

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=agocontrol-dbg
%:
	dh $@ --with python2

# override_dh_install:
#         $(MAKE) DESTDIR=$$(pwd)/debian/agocontrol prefix=/usr install
