Source: agocontrol-zwave
Maintainer: Harald Klein <hari@vt100.at>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 8), libqpidmessaging2-dev, libudev-dev, libqpidclient2-dev, libqpidcommon2-dev, libqpidtypes1-dev, uuid-dev
Standards-Version: 3.9.2

Package: agocontrol-zwave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqpidmessaging2, libqpidclient2, libqpidcommon2, libqpidtypes1, libudev0, libuuid1, agocontrol
Description: aGoControl ZWave interface driver
