<div>
<div class="pretty medium default btn btn-full icon-left icon-layout"><_a data-translateable="true" href="?floorplanConfig">Floorplans</_a></div>
<div class="pretty medium default btn btn-full icon-left icon-share"><_a data-translateable="true" href="?roomConfig">Rooms</_a></div>
<div class="pretty medium default btn btn-full icon-left icon-share"><_a data-translateable="true" href="?scenarioConfig">Scenarios</_a></div>
<div class="pretty medium default btn btn-full icon-left icon-bell"><_a data-translateable="true" href="?eventConfig">Events</_a></div>
<div class="pretty medium default btn btn-full icon-left icon-list"><_a data-translateable="true" href="?deviceConfig">Devices</_a></div>
<div class="pretty medium default btn btn-full icon-left icon-list"><_a data-translateable="true" href="?variablesConfig">Variables</_a></div>
<div class="pretty medium default btn btn-full icon-left icon-cloud"><_a data-translateable="true" href="?cloudConfig">Cloud</_a></div>
<div class="pretty medium default btn btn-full icon-left icon-tools"><_a data-translateable="true" href="?systemConfig">System</_a></div>
</div>
