<div class="pretty medium default btn btn-full icon-left icon-layout"><a href="?floorplanConfig">Floorplans</a></div>
<div class="pretty medium default btn btn-full icon-left icon-share"><a href="?roomConfig">Rooms</a></div>
<div class="pretty medium default btn btn-full icon-left icon-share"><a href="#">Scenarios</a></div>
<div class="pretty medium default btn btn-full icon-left icon-bell"><a href="?eventConfig">Events</a></div>
<div class="pretty medium default btn btn-full icon-left icon-list"><a href="?deviceConfig">Devices</a></div>
<div class="pretty medium default btn btn-full icon-left icon-list"><a href="?variablesConfig">Variables</a></div>
<div class="pretty medium default btn btn-full icon-left icon-cloud"><a href="#">Cloud</a></div>
<div class="pretty medium default btn btn-full icon-left icon-tools"><a href="?systemConfig">System</a></div>
