<div class="device_tree tree">
	<ul>
	{{#each content in model}}
		{{#each room in content.rooms}}
		<li><a>{{room.name}}</a>
			<ul>
			{{#each device in room.devices}}
				{{#if device.name }}
					<li class="dnd-device" {{bindAttr data-uuid="device.uuid"}} ><a>{{device.name}}</a></li>
				{{else}}
					<li class="dnd-device" {{bindAttr data-uuid="device.uuid"}} ><a>{{device.devicetype}}</a></li>
				{{/if}}
			{{/each}}
			</ul>
		{{/each}}
		</li>
	{{/each}}
	</ul>
</div>
{{enableDnD model}}
{{enableTreeNav model}}