<div>
	<div class="pretty medium success btn btn-full icon-left icon-heart">
		<a href="#">System Status</a>
	</div>
	<hr />
	<div class="pretty medium primary btn btn-full icon-left icon-home">
		<a href="?dashboard">Dashboard</a>
	</div>
	<ko opts="foreach: floorPlans">
	<div class="pretty medium primary btn btn-full icon-left icon-list">
		<a href="?floorPlan"
			data-bind="text: name, attr: {href: '?floorplan&amp;fp=' + uuid}"></a>
	</div>
	</ko>
	<hr />
	<div class="pretty medium default btn btn-full icon-left icon-tools">
		<a href="?configuration">Configuration</a>
	</div>
	<ko opts="if: hasNavigation">
	<div data-bind="template: {name: navigation}"></div>
	</ko>
</div>
